* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
}
.header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    gap: 10px;
}

.header input {
    width: 40%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.top-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left:100px;
}

.icon_img{
    width: 70px;
    height: 60px;
    cursor: pointer;
}


.categories {
    display: flex;
    gap: 30px;
    padding: 20px 50px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.main_banner img {
    height: 400px;
    width: 100%;
}
.trust-strip {
    background: #F0E9FF; 
    padding: 20px 0;
   
}

.trust-box {
    max-width: 95%;
    margin-left: 20px;
    background: white;
    border-radius: 10px;
    display: flex;
    padding: 10px ;
    box-shadow: 1px 6px rgba(0,0,0,0.05);
}

.trust-item {
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-size: 15px;
    color: #333;

}
.p1{
    margin-left: 300px;
}
.options{
    display: flex;
}
.op{
    width: 160px;
    height: 190px;
    margin-left: 30px;
}

.gold_banner{
    margin-top: 40px;
    height: 600px;
    width: 100%;
}
.og{
    position: relative;
}
.og h2{
    font-size: 30px;
    margin-left: 60px;
}
.og h2 img{
    width: 50px;
    position: absolute;
     left: 290px;
    
}
.og h1{
    color: purple;
    position: absolute;
    top: 6px;
    right:60px;
    font-size:20px;
}
.og_img{
    width:200px;
    height: 290px;
    margin-left:40px;  
    
}
.Moving_sec {
    background: #F0E9FF; 
    padding: 75px 0;
    position: relative;

   
}
.Moving_sec img{
    width: 200px;
    height: 110px;
    align-items: center;
    display: inline-block;
    border-radius: 15px;

    
}
.wow1{
    position: absolute;
    left: 70px;
    top: 19px;
}
.plum2{
    position: absolute;
    left: 300px;
    top: 19px;
}
.himalaya3{
    position: absolute;
    left: 530px;
    top: 19px;
}
.mamaearth4{
position: absolute;
    left: 760px;
    top: 19px;
}
.wildstone5{
position: absolute;
    left: 990px;
    top: 19px;
}
.bata6{
position: absolute;
    left: 1220px;
    top: 19px;
}
.Banner_7thsec{
   margin-top: 40px;
    height: 400px;
    width: 100%; 
}

.products-section {
  background: #f8f8f8;
  padding: 30px 0;
}

.products-layout {
  max-width: 1400px;
  margin: auto;
  display: flex;
  gap: 24px;
}

.left-column {
  width: 300px;
}

.products-title {
  font-size: 28px;
  margin-bottom: 16px;
}

.sort-box {
  border: 1px solid #ddd;
  padding: 10px 14px;
  border-radius: 6px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.filters-box {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #e6e6e6;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.filters-header p {
  font-size: 13px;
  color: #777;
}

.clear {
  font-size: 13px;
  color: #9f2089;
  cursor: pointer;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 15px;
}

.right-column{
  flex: 1;
}

.products-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;            
}

.product-card{
  width: 23%;
  border-radius: 12px;
  overflow: hidden;
}

.product-card img{
  width: 100%;
  display: block;
  border-radius: 12px;

}

.footer{
  background: #f6f7fb;
  padding: 50px 0;
  font-family: Arial, sans-serif;
}

.footer-wrap{
  width: 1300px;
  margin: auto;
  display: flex;
  gap: 40px;
  
}

.f1{ 
    width: 300px; 
 
}
.f1 h2{ margin: 0 0 10px; 
    font-size: 26px;
    color: #444;
 }
.f1 p{ 
    margin: 6px 0; 
    color: #444;
 }

.store{ 
    display: flex; 
    gap: 14px; 
    margin-top: 18px; 
}
.store-img2{
    width:150px ;
     height:50px;
     border-radius: 10px;
     }
.store-img1{
    width:150px;
    height:40px;
    border-radius: 10px;
}

.f2, .f3{
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-width: 180px;
}
.f2 a, .f3 a{
  color: #2b2b2b;
  font-size: 16px;
}

.f4 h4, .f5 h4{ 
    margin: 0 0 12px; 
}

.icons{ 
    display: flex; 
    gap: 10px;
 }
.icons img{ width: 28px;
     height: 28px;
       }

.f5{
  width: 320px;
  color: #444;
  font-size: 13.5px;
  line-height: 1.6;
}


@media (max-width:600px){
  .header{
    padding: 10px 12px;
  }

  .logo img{
    height: 38px;
  }

  .header input{
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }
  .top-links{
    display: none; 
  }

  .categories{
    gap: 18px;
    padding: 12px;
    font-size: 14px;
    overflow-x: auto; /*to get that scroll bar at category*/ 
  }
  .main_banner img{
    width: 100%;
    height: 170px;
    border-radius: 6px;
  }
  .trust-strip{
    padding: 10px;
  }

  .trust-box{
    align-items: center;
    gap:40px;
    margin-left: 9px;
    border-radius: 8px;
  }

  .trust-item{
    margin-left: 0;
    font-size: 12px;
  }
  .p1{
    margin-left: 5px;
  }

  .options{
    margin-left: 40px;
    margin-top: 10px;
  }

  .op{
    width: 110px;
    height: 150px;
    margin: 8px;
  }
  .op:nth-child(n+4){ /* this will hide any img after 3rd if class names are similar in code  and we cant use display:none thn we can use this */
    display: none;
  }

  .gold_banner{
    width: 100%;
    height: 250px;
    margin-top: 20px;
  }
  .og h2{
    font-size: 22px;
    margin-left: 20px;
  }

  .og h2 img{
    left: 200px;
    width: 35px;
  }

  .og h1{
    font-size: 15px;
  }

  .og_img{
    width: 130px;
    height: 200px;
    margin: 10px;
  }
  .og_img:nth-child(n+4){ 
    display: none;
  }

  .Moving_sec{
    padding: 40px;
  }

  .Moving_sec img{
    width: 100px;
    height: 80px;
    position: static;
    margin: 10px;
  }
  
  .Moving_sec img:nth-child(n+4){ 
    display: none;
  }
  .Banner_7thsec{
    width: 100%;
    height: 210px;
  }
  
  .products-layout{
    flex-direction: column;/*photos vertically top to bottom*/
  }

  .left-column{
    width: 100%;
  }

  .right-column{
    width: 100%;
  }
   .products-grid{
    display: flex;
    justify-content: center;
    
  }

  .product-card{
    width: 47%;
  }

  .footer-wrap{
    width: 100%;
    flex-direction: column; /* arranges flex items vertically (top to bottom) instead of side by side */
    gap: 25px;
    padding: 0 15px;
  }

  .f1, .f2, .f3, .f4, .f5{
    width: 100%;
  }
   .store{
    justify-content: flex-start;
  }

  .icons{
    margin-top:10px;
  }
}